<footer class="footer footer-bigbefore footer-color-black" style="background: #414141;">
    <div class="container">
        <div class="row text-center">
            <h1 style="color: white">השאירו פרטים ואנו נדאג לחזור אליכם בהקדם</h1>
        </div>
        <div class="row text-center" style="margin-top: 20px;">
            <div class="col-sm-6 col-md-3">
                <input type="button" class="contact-form button" name="contact-1" onkeyup="rtl(this);" value="חלש">
            </div>
            <div class="col-sm-6  col-md-3">
                <input type="email" class="contact-form" name="email" onkeyup="rtl(this);" placeholder="מייל">
            </div>
            <div class="col-sm-6 col-md-3">
                <input type="phone" class="contact-form" name="phone" onkeyup="rtl(this);" placeholder="טלפון">
            </div>
            <div class="col-sm-6 col-md-3">
                <input type="text" class="contact-form" name="fullname" onkeyup="rtl(this);" placeholder="שם מלא">
            </div>
        </div>
    </div>
</footer>
<footer class="footer footer-ticker">

</footer>
<footer class="footer footer-big footer-color-black" data-color="black">

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="info">
                    <nav>
                        <ul>
                            <li>
                                <a href="#">םיסרוק</a>
                            <li>
                            <li>
                                <a href="#">רשק רוצ
                                </a>
                            <li>
                            <li>
                                <a href="#" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-instagram" style="color: #2C93FF"></i>
                                </a>
                                <a href="#" class="btn btn-social btn-facebook btn-simple">
                                    <i class="fa fa-facebook" style="color: #2C93FF"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="info">
                    <nav>
                        <ul>
                            <li>
                                <a href="#">תודוא</a>
                            <li>
                                <a href="#">אמגודל רועיש</a>
                            </li>
                            <li>
                                <a href="#">םירצומ תונח</a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="info">
                    <nav>
                        <ul>
                            <li>
                                <a href="#">האקדמיה הבינלאומית למנעולנות</a>
                            </li>
                            <li>
                                <a href="#">050-000-0000</a>
                            </li>
                            <li>
                                <a href="#">name@gmail.com</a>
                            </li>
                            <li>
                                <a href="#"> All rights reserved Z Design@2017</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="info">
                    <nav>
                        <ul>
                            <li>
                                <a href="/"><h2>וגול</h2></a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
</footer>
<div class="modal fade" id="register" role="dialog" tabindex="-1" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="custom-modal">
                <div class="modal-header">
                    <div class="modal-header-logo">
                        <img src="/themes/demo/assets/images/register.png" class="modal-logo">
                    </div>
                    <button class="close btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body text-center">

                    <h2 style="color: #3295ff;">פרטי הרשמה</h2>
                    <h2>האקדמיה הבינלאומית למנעולנות</h2>
                    <h4> אנא השאירו פרטים ונחזור אליכם בהקדם להשלמת פרטי ההזמנה!</h4>
                    <div class="row login-row">
                        <div class="col-xs-6 text-right">
                                <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="*טלפון" required>
                        </div>
                        <div class="col-xs-6 text-left">
                                <input type="text" class="login-input" name = "field2" onkeyup="rtl(this);" placeholder="*שם מלא" required>
                        </div>
                    </div>
                    <div class="row login-row">
                        <div class="col-xs-6 text-right">
                            <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="*מייל" required>
                        </div>
                        <div class="col-xs-6 text-left">
                            <input type="text" class="login-input" name = "field2" onkeyup="rtl(this);" placeholder="*ת.ז" required>
                        </div>
                    </div>
                    <div class="row login-row" >
                        <div class="col-xs-6 text-right">
                            <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="מיקוד">
                        </div>
                        <div class="col-xs-6 text-left">
                            <input type="text" class="login-input" name = "field2" onkeyup="rtl(this);" placeholder="עיר">
                        </div>
                    </div>
                    <div class="row login-row">
                        <div class="col-xs-12 text-center">
                            <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="רחוב">
                        </div>
                    </div>
                    <div class="row login-row">
                        <div class="col-xs-12 text-center">
                            <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="*סיסמה" required>
                        </div>
                    </div>
                    <div class="row login-row">
                        <div class="col-xs-12 text-center">
                            <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="*אימות סיסמה" required>
                        </div>
                    </div>
                    <div class="row login-row">
                        <div class="col-xs-12 text-right">
                            <div class="checkbox">
                                <input id="registercheckbox" type="checkbox">
                                <label for="registercheckbox">הנני מאשר כי קראתי את התקנון </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row text-center">
                        <input type="submit" class="contact-form button" name="login"  value=" שלח ">
                    </div>
                    <div class="row text-center">
                        <p>* שדות חובה</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="contact-us" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="custom-modal">
                <div class="modal-header">
                    <div class="modal-header-logo">
                        <img src="/themes/demo/assets/images/contact-us.png" class="modal-logo" style="padding: 10px 0px 10px 10px !important;">
                    </div>
                    <button class="close btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>
                <div class="modal-body text-center">

                    <h2 style="color: #00afff;font-weight: 300">פרטי הרשמה</h2>
                    <h2><strong>האקדמיה הבינלאומית למנעולנות</strong></h2>
                    <h4> אנא השאירו פרטים ונחזור אליכם בהקדם להשלמת פרטי ההזמנה!</h4>
                    <div class="row login-row">
                        <div class="col-xs-6 text-right">
                            <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="*טלפון" required>
                        </div>
                        <div class="col-xs-6 text-left">
                            <input type="text" class="login-input" name = "field2" onkeyup="rtl(this);" placeholder="*שם מלא" required>
                        </div>
                    </div>
                    <div class="row login-row">
                        <div class="col-xs-6 text-right">
                            <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="*מייל" required>
                        </div>
                        <div class="col-xs-6 text-left">
                            <input type="text" class="login-input" name = "field2" onkeyup="rtl(this);" placeholder="*ת.ז" required>
                        </div>
                    </div>
                    <div class="row login-row" >
                        <div class="col-xs-6 text-right">
                            <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="מיקוד">
                        </div>
                        <div class="col-xs-6 text-left">
                            <input type="text" class="login-input" name = "field2" onkeyup="rtl(this);" placeholder="עיר">
                        </div>
                    </div>
                    <div class="row login-row">
                        <div class="col-xs-12 text-center">
                            <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="רחוב">
                        </div>
                    </div>
                    <div class="row login-row">
                        <div class="col-xs-12 text-center">
                            <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="*סיסמה" required>
                        </div>
                    </div>
                    <div class="row login-row">
                        <div class="col-xs-12 text-center">
                            <input type="text" class="login-input" name = "field1" onkeyup="rtl(this);" placeholder="*אימות סיסמה" required>
                        </div>
                    </div>
                    <div class="row login-row">
                        <div class="col-xs-12 text-right">
                            <div class="checkbox">
                                <input id="contactcheckbox" type="checkbox">
                                <label for="contactcheckbox">הנני מאשר כי קראתי את התקנון </label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row text-center">
                        <input type="submit" class="contact-form button" name="login" onkeyup="rtl(this);" value=" שלח ">
                    </div>
                    <div class="row text-center">
                        <p>* שדות חובה</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="modal-backdrop" class="modal-backdrop-transparent modal-transition"></div>
<script type="text/javascript">
    function rtl(element)
    {
        if(element.setSelectionRange){
            element.setSelectionRange(0,0);
        }
    }

</script>