
<nav class="navbar navbar-default "  style="height: 70px;">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a href="#" class="navbar-brand">

            </a>
        </div>
        <div class="collapse navbar-collapse">
            <div class="nav navbar-nav navbar-right ">
                <a href="/">
                    <div class="logo">
                        <img src="/themes/demo/assets/images/logo.png">
                    </div>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right navbar-uppercase">
                <li>
                    <a href="#"><i class="fa fa-facebook-square"></i> </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i> </a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#register">הרשמה </a>
                </li>
                <li>
                    <a href="#">/</a>
                </li>
                <li>
                    <a href="/login" > התחברות</a>
                </li>


                <li>
                    <a data-toggle="modal" data-target="#contact-us"> צור קשר </a>
                </li>
                <li>
                    <a href="/shop-products"> חנות מוצרים </a>
                </li>
                <li>
                    <a href="/sample-lesson"> שיעור לדוגמא </a>
                </li>
                <li>
                    <a href="/about-us"> אודות </a>
                </li>
                <li>
                    <a href="/main"> ראשי </a>
                </li>


            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>