
<nav class="navbar navbar-default" style="    height: 70px;">
    <!-- if you want to keep the navbar hidden you can add this class to the navbar "navbar-burger"-->
    <div class="container">
        <div class="navbar-header">

            <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>


        </div>
        <div class="collapse navbar-collapse" id="example">
            <div class="nav navbar-nav navbar-right">
                <a href="/">
                    <div class="logo">
                        <img src="/themes/demo/assets/images/logo.png">
                    </div>
                </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a data-toggle="modal"  data-target="#contact-us" id="blue-button" data-color="blue"> צור קשר </a>
                </li>
                <li>
                    <a href="/shop-products"> חנות מוצרים </a>
                </li>
                <li>
                    <a href="/sample-lesson"> שיעור לדוגמא </a>
                </li>
                <li>
                    <a href="/about-us"> אודות </a>
                </li>
                <li>
                    <a href="/"> ראשי </a>
                </li>


            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#"><i class="fa fa-facebook-square"></i> </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i> </a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#register"  id="blue-button" data-color="blue">הרשמה </a>
                </li>
                <li>
                    <a href="#">/</a>
                </li>
                <li>
                    <a href="/login" > התחברות</a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>